hr{
    border: none;              /* Remove default border */
  height: 1px;               /* Set thickness */
  background-color:rgb(33, 196, 160);   /* Set custom color */
  width: 95%;                /* Optional: make it shorter */
  margin: 2px auto;         /* Center it */
  border-radius: 0px;

}

ul{
    display:flex;
    justify-content: space-evenly;
    border-radius: 2px;
    padding-inline-start: 0px;
}
li{
    list-style: none;
    margin-top: 5px;
    font-size: large;
}

a{
    
    color: rgb(236, 164, 19);
    text-transform: capitalize;
    text-decoration: none;
    
}
a:hover{
    color: rgb(12, 223, 149);
}


.root{
    border-radius: 5px;
    width:90vw;
    height: 100vh;
    
    margin: auto;
     
background-image: linear-gradient(to bottom, #4daaa1, #6da694, #82a28f, #919e8f, #999b96);

}

@media only screen and (max-width:480px){
    li{
        font-size: xx-small;
        color:rgb(32, 29, 29)
    }
}
